# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/.terraform.lock.hcl

# Vagrant
.vagrant/

# Kubeconfig et certificats
*.crt
*.jks
*.pem
*.key
audit-vm-config

# Python
**/venv/
**/__pycache__/
**/*.pyc

# Fichiers temporaires de travail
replicas.json

# Divers
*.log
ca.crt